<header class="bg-green-700 text-white py-6 shadow-md w-full">
  <div class="max-w-7xl mx-auto flex justify-between items-center px-6">
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
</header>

<!-- Contenido específico de la vista Cargar Información -->
<div class="container mt-6">
   <h1 class="text-3xl font-extrabold text-yellow-400">Cargar Informacion</h1>

  <%= link_to 'Cargar Lugar', new_lugare_path,class: 'inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300' %>
</div>
<div class="text-center mt-6">
  <%= link_to 'Volver a Inicio', root_path, class: 'inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300' %>
</div>
